body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}

header { grid-area: header; }

section { grid-area: content; }

nav { grid-area: sidebar;}

footer { grid-area: footer; }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1vw solid #f7b7b7;
}

#logo {
    height: 5vh;
}

#nav-labs ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 0.1vw solid #e8e6e6;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 1vh 0;
}

footer {
    margin-top: 10vh;
    border-top: 0.1vw solid #f7b7b7;
}

.panel {
    border: 0.1vw solid #e8e6e6;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 1vh 0;
    color: black;
}
