* {
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#image {
  width: 90%;
  height: auto;
  border: 0.1vw solid #e8e6e6;
  border-radius: 0.5vw;
  padding: 1vw;
  margin: 1vh 0;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  border: 0.1vw solid #e8e6e6;
  border-radius: 0.5vw;
  padding: 1vw;
  margin: 1vh 0;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
  }

  .header-right {
    float: right;
}



.container {
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: black;
    font-size: 1.5vw;
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.wrapper {
    border: 0.1vw solid #e8e6e6;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 1vh 0;
    color: black;
    width: 90%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

footer {
    text-align: center;
    border-top: 0.2vw solid #f7b7b7;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
