tr td.trow1:first-child,
tr td.trow2:first-child,
tr td.trow_shaded:first-child { border-left: 0; }

tr td.trow1:last-child,
tr td.trow2:last-child,
tr td.trow_shaded:last-child {
	border-right: 0; 
}

.tborder {
	border-radius: 2px; 
}

.tborder tbody tr:last-child td {
	border-bottom: 0; 
}

.tborder tbody tr:last-child td:first-child {
	border-bottom-left-radius: 2px;
}

.tborder tbody tr:last-child td:last-child {
	border-bottom-right-radius: 2px; 
}

.thead {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.thead_collapsed {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px; 
}

.thead_left { border-top-right-radius: 0;  }
.thead_right { border-top-left-radius: 0;  }

.tcat_menu {
  	border-radius: 0 !important; 
}

.tborder tbody:nth-last-child(2) .tcat_collapse_collapsed {
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important; 
}

button,
input.button,
input.textbox,
input.invalid_field,
input.valid_field,
select,
textarea,
.editor_control_bar,
blockquote,
.codeblock,
fieldset,
.pm_alert,
.red_alert,
.popup_menu,
.postbit_buttons > a,
a.button {
	border-radius: 1px; 
}

.post.classic .post_author {
	border-radius: 0 2px 2px 0;
}

.popup_menu .popup_item_container:first-child .popup_item {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.popup_menu .popup_item_container:last-child .popup_item {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; 
}

.pagination a {
	border-radius: 2px; 
}

.pollbar {
    position: relative;
    border-radius: 2px;
}

.fa_xtra { 
	vertical-align: middle; 
	font-size: 14px; 
	margin-top: -4px;
	padding-right: 4px; 
	-webkit-transform:rotateZ(0.0001deg);
	-moz-transform:rotateZ(0.0001deg);
	transform: rotateZ(0.0001deg); 
}

.dashed { 
	border: 1px dashed #ccc; 
	border-color: #ccc; 
	border-radius: 2px; 
}

.bradius { border-radius: 2px !important;  }
.bradius_xtr { 	border-radius: 5px !important; }
.bradius-full { border-radius: 100px !important; }

.trns-normal {
	transition: all 0.3s ease 0s;
}

.fa_xtra.cd {
	padding-left: 2px;
	margin-top: -2px; 
}

.fa_xtra.pm { 
	margin-top: -3px !important; 
	padding-right: 3px !important; 
}

.fa_xtra.pd { 
	margin-top: -3px !important; 
	padding-right: 5px !important;
}

.fa_xtra.mp { 
	padding-right: 2px;
	margin-top: -2px; 
	margin-left: 2px; 
	font-size: 16px; 
	cursor: pointer; 
} 

.fa_xtra.mp:hover { color: #cfdde6; }
.fa_xtra.blue { color: #2c82c9; }
.fa_xtra.white { color: #bbb; }
.fa_xtra.lgreen { color: #2ecc71; }
.fa_xtra.green { color: #9e8e5a }
.fa_xtra.red { color: #f1654c; }
.fa_xtra.grey { color: #777; }
.fa_xtra.orange { color: #d98b3a; }

.clr_gry { color: #888 !important; }
.clr_lgr { color: #999 !important; }
.clr_wht { color: #fff !important; }
.clr_lgh { color: #ccc !important; }
.clr_grn { color: #27ae60 !important; }
.clr_drd { color: #c0392b !important; }

.onoffnew {
	display: inline-block;
	float: left; 
	height: 12px; width: 12px; 
	border-radius: 1000px;
	margin: 9px 16px 0 5px;
}

.onoffnew.onl { background: #2ecc71; }
.onoffnew.off { background: #bdc3c7; }

.fxdim44 { 
	width: 44px !important; 
	height: 44px !important; 
	border-radius: 1000px;
}

.fxdim70 { 
	width: 70px !important; 
	height: 70px !important; 
	border-radius: 1000px;
}

.fxdim100 {
	width: 100px !important;
	height: 100px !important; 
	border-radius: 1000px;
}

.fw4 { font-weight: 400; }

.mrgtop { margin-top: 1.2em; }
.adjst { padding-right: 1em; }

.rlx { padding-left: 0px 25px 0px 25px; }

.lstpst { 
	color: #666; 
	padding-right: 2em; 
}

.and-more { 
	font-size: 12px !important; 
	color: #444;  
}

.ediedit {
    width: 100%;
    padding: 7px 6px 6px 7px;
    margin-top: -7px;
    box-sizing: border-box;
}

.postbit-icon { display: inline-block; }
.postbit-text { display: inline-block; }

.menuadj { 
	position: absolute;  
	right: 21px;
	margin-top: 6px; 
}

.ft-row {
	float: left;
	width: 100%;
}

.ft-col-1, 
.ft-col-2, 
.ft-col-3 {
	position: relative;
}

.ft-col-1 h2, 
.ft-col-2 h3, 
.ft-col-3 h4 {
	font-size: 16px;
    color: #666;
    font-weight: 600;
    margin-bottom: 18px;
}

.ft-col-1 {
	float: left;
	width: 31%;
}

.ft-col-2 {
	float: right;
	width: 13%;
	padding: 0 3px;
}

.ft-col-3{
	float: right;
	width: 20%;
	padding: 0 3px;
}

.ft-head {
	font-weight: 600;
	font-size: 15px; 
	color: #777;
	padding-bottom: 16px;  
}

.ft-menu { 
	list-style: none; 
	margin: 0; 
	padding: 0;
}

.ft-menu li { 
	font-size: 14px;
    margin: 2px 0;
}

.ft-menu li a { 
	color: #999 !important;
	text-decoration: none;
}

.ft-menu li a:hover { 
	color: #555 !important;
	padding-left: 2px;
}

.ft-col-item {
	margin-bottom: 8px;
	position: relative;
	padding: 8px;
	font-family: inherit;
	color: #999;
	border-radius: 2px;
	background: #e0e6ec;
}

.ft-col-item-icon {
	display: inline-block;
	margin-right: 12px;
	position: relative;
	height: 36px;
	width: 36px;
	text-align: center;
	border-radius: 1000px;
	font-size: 18px;
	background: #b0bec5;
}

.ft-col-item-icon i {
	line-height: 36px;
	color: #eee;
}

.ft-col-item-title {
	display: inline-block;
	margin-top: -6px;
	line-height: 1.231;
	vertical-align: middle;
}

.aroptions {
	padding: 5px 7px 5px 6px !important;
	margin-bottom: 3px !important;
	margin-left: 1px;
	color: #fff;
	text-align: center;
	border-radius: 2px !important;
	font-size: 12px !important;
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	background: #4fc3f7 !important;
	border: 1px solid #29b6f6;
}

.profile-pdg {
	padding-left: 10px;
}

.atoz > a {
	padding-left: 2px;
}

.lftbx {
	position: relative; 
	float: left; 
	padding: 15px 0px 15px 15px; 
	width: 150px; 
	margin: 6px 0px 5px 5px; 
}

.lgn {
	padding: 13px !important;
	border: 0 !important;
	border-left: 2px solid #ddd !important;
	background: #f3f3f3 !important;
}

.lgn:focus { 
	background: #ececec !important; 
}

.lgn-btn {
	margin-right: 1px !important;
	width: 120px !important;
	border: 0 !important; 
	padding: 10px !important;
	padding: 0 !important;
	height: 36px !important;
	line-height: 37px !important;
	padding-right: 1px !important;
}

.rgs-btn {
	width: 142px !important;
	margin-top: 0px !important;
	margin-bottom: 2px !important;
	border: 0 !important; 
	font-size: 13px !important;
	text-align: center !important;
	padding: 0 !important;
	height: 36px !important;
	line-height: 36px !important;
	background: #27ae60 !important;
}

.rgs-btn:hover {
	background: #2ecc71 !important;
}

.white-bg {
	background: #fff;
}

.nopd-tb {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.nopd-lr {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.rmb-login {
    font-size: 14px !important;
    font-weight: 300 !important;
}

.adj_log {
    position: relative;
	z-index: 5;
    float: right;
	color: #888;
    margin-right: 24px;
    margin-top: -21px; 
}

.sdb_adj {
	float: right; 
	width: 22%; 
	margin-top: 18px;
}

.pedit--adj {
	top: 80px !important;
}

.mpage a, 
.mpage a:link, 
.mpage a:visited, 
.mpage a:focus {
	background: #fcfdfe;
	font-size: 11px;
	border: 1px solid #ddd;
	color: #78909C;
	padding: 0px 4px;
}

.mpage a:hover {
	border: 1px solid #aaa;
}

.trow1 .mpage,
.trow2 .mpage {
    opacity: 0;
	transition: opacity .1s ease;
}

.trow1:hover .mpage,
.trow2:hover .mpage {
	opacity: 1;
}

.box_profile { 
	text-align: center;
	color: #545454;
	height: 26px !important;
	width: 26px !important;
	line-height: 26px;
	margin: 0 9px 0 -2px;
	border-radius: 1000px;
	background: #f3f3f3;
}

.outer-postbit {
	margin: auto auto 5px;
	display: block;
	text-align: center;
	max-width: 140px; 
}

span.toggle-container {
	float: right;
	margin: 17px 2px 0 0;
}

.profcontainer .left-sidebar {
	padding-right: 10px;
	float: left;
	width: 270px;
}

.profcontainer .profheading {
	margin: 0 0 0 290px;
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
	padding: 20px 23px 23px 23px;
	border-bottom: 0 !important;
	background: #fff;
	border: 1px solid #ddd;
}

.profcontainer .left-sidebar .sidebar-container {
	background: #fff;
	padding: 0px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
}

.profcontainer .left-sidebar .sidebar-container .sidebar-inner {
	padding: 12px 18px 12px 17px;
	overflow: hidden;
	color: #777;
	line-height: 1.65;
}

.resp .sidebar-container .sidebar-inner {
	padding: 10px 15px 10px 12px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 5px;
	border: 1px solid rgb(229, 230, 231);
}

.thead.profile-side {
	padding: .8rem 1.1rem .7rem 1.1rem;
	color: #555;
	border-bottom: 1px solid #e5e5e5;
	background: #fcfdfe;
}

.fw-fn {
	font-weight: 400;
	font-size: 16px;
	font-family: inherit;
}

.tabs-wrap {
	margin-left: 290px;
	border: 1px solid #ddd;
	border-top: 0;
	background: #fff;
}

ul.tabs {
	list-style: none;
	font-family: inherit;
	font-weight: 400;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
	background: rgb(245, 247, 249);
}

ul.tabs li {
	background: none;
	color: #777;
	display: inline-block;
	float: left;
	padding: 15px 27px 15px 24px;
	cursor: pointer;
}

ul.tabs li:hover {
	background: #f1f2f3;
}

ul.tabs li.current {
	background: #4fc3f7;
	color: #fff;
	float: left;
	font-weight: 600;
}

.tab-content { 
	display: none;
	padding: 25px;
	background: #fff;
}

.tab-content.current { display: inherit; }

.ava-hs {
	margin-right: 1.3rem;
	float: left;
	overflow: hidden;
}

.ava-hs img {
	height: 60px;
	width: 60px;
	border-radius: 2px;
}

.ib-hs { display: none; }

.profile-ctbox {
	border-bottom: 1px solid rgb(247, 248, 249);
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.profile-ctbox:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 4px;
}

.profile-mcp ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.profile-acp ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media screen and (max-width: 1100px) {
	.ttip span {
		display: block;
	}
	.fb-pt {
		display: none;
	}
	ul.tabs li.current {
		float: none;
	}
	ul.tabs li {
		float: none;
		display: block;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
}
	
[class*="add_buddy_button"] { margin-top: 13px !important; }
[class*="add_buddy_button"]:hover,
[class*="add_ignore_button"]:hover { background: #29b6f6 !important; }
[class*="report_user_button"]:hover { background: #29b6f6 !important; color: #fff !important; }

		
		
		
		
		
		
		
		
		