.usercp_nav_item { 
	display: block; 
	padding: 1px;
} 

.usercp_nav_sub_pmfolder { 
	padding-left: 20px; 
}

.usercp_nav_sub_pmfolder i:before { 
	content: "\f115"; 
	color: #d98b3a;
}

.usercp_nav_trash_pmfolder { 
	padding-left: 21px; 
}

.usercp_nav_trash_pmfolder i:before { 
	content: "\f014"; 
	color: #777; 
	padding-right: 3px; 
}

.usercp_nav_email,
.usercp_nav_password { 
	padding-left: 18px; 
}

.usercp_nav_username { 
	padding-left: 18px; 
	margin-top: 4px; 
}

.usercp_nav_editsig { 
	padding-left: 7px;
}

.usercp_nav_avatar { 
	padding-left: 7px; 
	margin-top: 7px;  
}

.usercp_nav_composepm { background-position: 0 0; }
.usercp_nav_pmfolder { background-position: 0 -20px; }

.usercp_notepad { 
	width: 99%; 
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border:1px solid #ccc; 
}

.pmspace {
	float: right;
	margin: -3px 5px; 
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px; 
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e; 
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00; 
}

.pmspace_unused { 
	display: inline-block; 
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block; 
}

.bdbottom { 
	border-bottom: 1px dashed #eee; 
}

		
		
		
		
		
		
		
		
		
		
		
		
		