body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1vw solid #f7b7b7;
}

#logo {
    height: 5vh;
}

#nav-labs ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    border: 0.1vw solid #e8e6e6;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 1vh 0;
}

footer {
    margin-top: 10vh;
    border-top: 0.1vw solid #f7b7b7;
}

.panel {
    border: 0.1vw solid #e8e6e6;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 1vh 0;
    color: black;
}