* {
    text-decoration: none;
    color: white;
    cursor:url('cursor.png'), auto !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 200px;
    width: 400px;
    background-image: url("background.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
}

#title {
    padding-top: 11px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.fadeInUpBig {
    animation-duration: 1s;
    animation-delay: 1s;
}
#sub {
    font-size: 20px;
    padding-top: 8px;
    margin-top: 0px;
}
#sub:hover {
    text-shadow: 3px 3px 3px #DE3333;
    position: relative;
    top: -2px;
    left: -2px;
}
#links {
    font-size: 16px;
}

#steam:hover {
    text-shadow: 3px 3px 3px #8a3ab9;
    position: relative;
    top: -2px;
    left: -2px;
}
#group:hover {
    text-shadow: 3px 3px 3px #38A1F3;
    position: relative;
    top: -2px;
    left: -2px;
}
#instagram:hover {
    text-shadow: 3px 3px 3px #FFFC00;
    position: relative;
    top: -2px;
    left: -2px;
}
#twitter:hover {
    text-shadow: 3px 3px 3px #61CB2B;
    position: relative;
    top: -2px;
    left: -2px;
}
#discord:hover {
    text-shadow: 3px 3px 3px #7289da;
    position: relative;
    top: -2px;
    left: -2px;
}

#github:hover {
    text-shadow: 3px 3px 3px #ff66ff;
    position: relative;
    top: -2px;
    left: -2px;
}

#box {
    padding: 20px;
    background-color: #995353;
    border: 1px solid rgb(180, 168, 168);
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#sub:hover {
    color: white;
}
#tit:hover {
    color: darkred;
}
